<p style="color: green"><%= notice %></p>

<%= render @tranxaction %>

<div>
  <%= link_to "Edit this tranxaction", edit_tranxaction_path(@tranxaction) %> |
  <%= link_to "Back to tranxactions", tranxactions_path %>

  <%= button_to "Destroy this tranxaction", @tranxaction, method: :delete %>
</div>
